* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.portfolio-img {
    width: 100%;
}

#projects {
    display: flex;
    max-width: 70vw;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    background-color: antiquewhite;
    max-width: 300px;
    padding: 2em;
    margin: 1em;
    width: 100%,
}

.title {
    margin: 0.6em 0.3em 0.3em 0.3em;
    font-weight: 500;
}

.caption {
    margin: 0.6em 0.3em 0.3em 0.3em;
    font-weight: 400;
    color: #434343;
}
