---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.svelte';
import Footer from '../components/Footer.svelte';
import Hero from '../components/Hero.svelte';
import Projects from '../components/Projects.svelte';

// Data Fetching: List all Markdown posts in the repo.
const projects = Astro.fetchContent('./project/**/*.md');
const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <MainHead title="Aabhas Sao: Personal Site" description="The personal site of Aabhas Sao" />
  </head>
  <body>
    <Nav />
    <Hero />
    <main class="wrapper mt4 mb4">
      <Projects />
    </main>
    <Footer />
  </body>
</html>
